Repository 1ma/dockertronics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: erlang, haproxy, jekyll, mariadb, mysql-5.7, mysql-8.0, postgres, postgres-src, sleepy, swipl, lua-5.3, lua-5.4, php-7.2, php-7.3, php-7.4, php-8.0, php-master, sakila, selfsig, sftp, sqlite, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev, roadrunner

Path conditions:
  erlang: any of: erlang/**/*
  haproxy: any of: haproxy/**/*
  jekyll: any of: jekyll/**/*
  mariadb: any of: mariadb/**/*
  mysql-5.7: any of: mysql/**/*
  mysql-8.0: any of: mysql/**/*
  postgres: any of: postgres/**/*
  postgres-src: any of: postgres/**/*
  sleepy: any of: sleepy/**/*
  swipl: any of: swipl/**/*
  lua-5.3: any of: lua/**/*
  lua-5.4: any of: lua/**/*
  php-7.2: any of: php/**/*
  php-7.3: any of: php/**/*
  php-7.4: any of: php/**/*, roadrunner/**/*
  php-8.0: any of: php/**/*, roadrunner/**/*
  php-master: any of: php/**/*
  sakila: any of: mysql/**/*
  selfsig: any of: selfsig/**/*
  sftp: any of: sftp/**/*
  sqlite: any of: sqlite/**/*
  php-7.2-dev: any of: php/**/*, php-dev/**/*
  php-7.3-dev: any of: php/**/*, php-dev/**/*
  php-7.4-dev: any of: php/**/*, php-dev/**/*
  php-8.0-dev: any of: php/**/*, php-dev/**/*
  php-master-dev: any of: php/**/*, php-dev/**/*
  roadrunner: any of: roadrunner/**/*

bump PHP versions
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

update haproxy
  haproxy/Dockerfile
Due: haproxy

latest maxminddb version is now available on PECL. 7.2+ only
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

bring that shit
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

bump PHP 8.0 to RC2
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

misc updates
  lua/5.4/Dockerfile
  roadrunner/Dockerfile
  swipl/Dockerfile
Due: swipl, lua-5.3, lua-5.4, php-7.4, php-8.0, roadrunner

bump PHP versions
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

removed lua images from regular CI builds. Updated haproxy and swipl
  .gitlab-ci.yml
  haproxy/Dockerfile
  swipl/Dockerfile
Due: haproxy, swipl

actually don't bring that shit just yet, it's segfaulting
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

bump haproxy to 2.3.0
  .gitlab-ci.yml
  haproxy/Dockerfile
Due: haproxy

haha Cache-Control wat
  sleepy/README.md
  sleepy/main.go
Due: sleepy

endavant amb la RC4
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

update PostgreSQL manual build to 13.1
  postgres/Dockerfile.src
Due: postgres, postgres-src

update libpq to 13.x in PHP images
  php/7.0/Dockerfile
  php/7.1/Dockerfile
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
  php/master/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

bump PHP 8 and swipl
  php/8.0/Dockerfile
  swipl/Dockerfile
Due: swipl, php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

an auspicious day
  php/etc/mods-available/xdebug.ini
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

PHP 8 released
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

enabled a few more extensions on 1maa/php:8.0 that have already been ported to PHP 8.0 and added psalm, phpstan and php-cs-fixer to toolbelt
  php-dev/5.6/Dockerfile
  php-dev/7.0/Dockerfile
  php-dev/7.1/Dockerfile
  php-dev/7.2/Dockerfile
  php-dev/7.3/Dockerfile
  php-dev/7.4/Dockerfile
  php-dev/8.0/Dockerfile
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

removed gearman and custom memcached compilation. 0 fucks given
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
  php/etc/cli/conf.d/20-gearman.ini
  php/etc/fpm/conf.d/20-gearman.ini
  php/etc/mods-available/gearman.ini
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

add psysh to php-dev images
  php-dev/5.6/Dockerfile
  php-dev/7.0/Dockerfile
  php-dev/7.1/Dockerfile
  php-dev/7.2/Dockerfile
  php-dev/7.3/Dockerfile
  php-dev/7.4/Dockerfile
  php-dev/8.0/Dockerfile
  php-dev/master/Dockerfile
Due: php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

phpstan and psalm are not worth it size-wise
  php-dev/5.6/Dockerfile
  php-dev/7.0/Dockerfile
  php-dev/7.1/Dockerfile
  php-dev/7.2/Dockerfile
  php-dev/7.3/Dockerfile
  php-dev/7.4/Dockerfile
  php-dev/8.0/Dockerfile
  php-dev/master/Dockerfile
Due: php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

php-dev: remove rest of tools that don't make sense in a CI/CD context or are project-specific
  php-dev/5.6/Dockerfile
  php-dev/7.0/Dockerfile
  php-dev/7.1/Dockerfile
  php-dev/7.2/Dockerfile
  php-dev/7.3/Dockerfile
  php-dev/7.4/Dockerfile
  php-dev/8.0/Dockerfile
  php-dev/master/Dockerfile
Due: php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

PHP 7.2 is ded
  .gitlab-ci.yml
Due: none

misc updates, including bump of 1maa/roadrunner:7.4 to 1maa/roadrunner:8.0
  .gitlab-ci.yml
  haproxy/Dockerfile
  lua/5.4/Dockerfile
  roadrunner/Dockerfile
  sqlite/Dockerfile
  swipl/Dockerfile
Due: haproxy, swipl, lua-5.3, lua-5.4, php-7.4, php-8.0, sqlite, roadrunner

php: added excimer extension
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
  php/etc/cli/conf.d/20-excimer.ini
  php/etc/fpm/conf.d/20-excimer.ini
  php/etc/mods-available/excimer.ini
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

update swipl and roadrunner
  roadrunner/Dockerfile
  swipl/Dockerfile
Due: swipl, php-7.4, php-8.0, roadrunner

php: update xhprof extension
  php/7.0/Dockerfile
  php/7.1/Dockerfile
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

php 8: enable xhprof
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

fix jekyll image after updating jekyll to 4.2.0
  jekyll/Dockerfile
Due: jekyll

update PHP images
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

haproxy and swipl minor updates
  haproxy/Dockerfile
  swipl/Dockerfile
Due: haproxy, swipl

php 8: enable more extensions
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

update HAproxy
  haproxy/Dockerfile
Due: haproxy

php: updated minor versions and added yaml extension
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
  php/etc/cli/conf.d/20-yaml.ini
  php/etc/fpm/conf.d/20-yaml.ini
  php/etc/mods-available/yaml.ini
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

shotgun upgrade to Alpine Linux 3.13
  .gitlab-ci.yml
  alpine/Dockerfile
  alpine/https-repositories
  beanstalkd/Dockerfile
  haproxy/Dockerfile
  jekyll/Dockerfile
  lua/5.3/Dockerfile
  lua/5.4/Dockerfile
  mariadb/Dockerfile.src
  php/7.0/Dockerfile
  php/7.1/Dockerfile
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
  php/master/Dockerfile
  postgres/Dockerfile.src
  selfsig/Dockerfile
  sftp/Dockerfile
  sqlite/Dockerfile
  swipl/Dockerfile
Due: haproxy, jekyll, mariadb, postgres, postgres-src, swipl, lua-5.3, lua-5.4, php-7.2, php-7.3, php-7.4, php-8.0, php-master, selfsig, sftp, sqlite, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

php-dev: update deptrac vendor, sensiolabs-de has been deprecated
  php-dev/7.0/Dockerfile
  php-dev/7.1/Dockerfile
  php-dev/7.2/Dockerfile
  php-dev/7.3/Dockerfile
  php-dev/7.4/Dockerfile
  php-dev/8.0/Dockerfile
  php-dev/master/Dockerfile
Due: php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

experimental FSF GNAT 9.3.0 image
  gnat/9/Dockerfile
Due: none

also added 1maa/gnat:10 and abandoned any ilusions of building gcc from source :') fucking blasted thing
  .gitlab-ci.yml
  gnat/10/Dockerfile
Due: none

strip Alire binary to shave off 10MB per image
  gnat/10/Dockerfile
  gnat/9/Dockerfile
Due: none
