Repository 1ma/dockertronics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: erlang, haproxy, mariadb, mysql-5.7, mysql-8.0, postgres, sleepy, php-7.1, php-7.2, php-7.3, php-7.4, php-master, sakila, selfsig, sftp, sqlite, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev, roadrunner

Path conditions:
  erlang: any of: erlang/**/*
  haproxy: any of: haproxy/**/*
  mariadb: any of: mariadb/**/*
  mysql-5.7: any of: mysql/**/*
  mysql-8.0: any of: mysql/**/*
  postgres: any of: postgres/**/*
  sleepy: any of: sleepy/**/*
  php-7.1: any of: php/**/*
  php-7.2: any of: php/**/*
  php-7.3: any of: php/**/*
  php-7.4: any of: php/**/*
  php-master: any of: php/**/*
  sakila: any of: mysql/**/*
  selfsig: any of: selfsig/**/*
  sftp: any of: sftp/**/*
  sqlite: any of: sqlite/**/*
  php-7.1-dev: any of: php/**/*
  php-7.2-dev: any of: php/**/*
  php-7.3-dev: any of: php/**/*
  php-7.4-dev: any of: php/**/*
  php-master-dev: any of: php/**/*
  roadrunner: any of: roadrunner/**/*

never got to use ODBC either
  php/Dockerfile.72
  php/Dockerfile.73
  php/Dockerfile.74
  php/Dockerfile.master
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

maxminddb extension in
  php/Dockerfile.72
  php/Dockerfile.73
  php/Dockerfile.74
  php/Dockerfile.master
  php/etc/cli/conf.d/maxminddb.ini
  php/etc/fpm/conf.d/maxminddb.ini
  php/etc/mods-available/maxminddb.ini
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

ssh2 extension in
  php/Dockerfile.72
  php/Dockerfile.73
  php/Dockerfile.74
  php/Dockerfile.master
  php/etc/cli/conf.d/ssh2.ini
  php/etc/fpm/conf.d/ssh2.ini
  php/etc/mods-available/simdjson.ini
  php/etc/mods-available/ssh2.ini
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

memcached extension in
  php/Dockerfile.72
  php/Dockerfile.73
  php/Dockerfile.74
  php/Dockerfile.master
  php/etc/cli/conf.d/memcached.ini
  php/etc/fpm/conf.d/memcached.ini
  php/etc/mods-available/memcached.ini
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

gearman extension in
  php/Dockerfile.72
  php/Dockerfile.73
  php/Dockerfile.74
  php/Dockerfile.master
  php/etc/cli/conf.d/gearman.ini
  php/etc/fpm/conf.d/gearman.ini
  php/etc/mods-available/gearman.ini
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

use .pre stage instead of a made up one
  .gitlab-ci.yml
Due: none

php: memcached extension with igbinary and msgpack support
  php/Dockerfile.72
  php/Dockerfile.73
  php/Dockerfile.74
  php/Dockerfile.master
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

experimental postgres build from source
  .gitlab-ci.yml
  postgres/Dockerfile.src
  postgres/postgres.sh
Due: postgres

* defined volume in the data dir * added locale
  postgres/Dockerfile.src
  postgres/postgres.sh
Due: postgres

postgres: build from release archive, which needs less dependencies and builds a bit faster
  postgres/Dockerfile.src
Due: postgres

install all contrib extensions and keep configuration help at hand
  postgres/Dockerfile.src
  postgres/HALP.txt
Due: postgres

php-dev: install hirak/prestissimo first so the second composer run can leverage it. This speeds up build the time
  php/Dockerfile.72-dev
  php/Dockerfile.73-dev
  php/Dockerfile.74-dev
  php/Dockerfile.master-dev
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

php: add csv extension released today
  php/Dockerfile.73
  php/Dockerfile.74
  php/Dockerfile.master
  php/etc/cli/conf.d/csv.ini
  php/etc/fpm/conf.d/csv.ini
  php/etc/mods-available/csv.ini
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

19.03.6 is no longer the latest release, we can use the latest stable version again
  .gitlab-ci.yml
Due: none

update roadrunner
  roadrunner/Dockerfile
Due: roadrunner

nitpicking
  roadrunner/Dockerfile
Due: roadrunner

reorganize php images to allow syntax highlighting in Dockerfiles
  .gitlab-ci.yml
  php-dev/7.2/Dockerfile
  php-dev/7.3/Dockerfile
  php-dev/7.4/Dockerfile
  php-dev/etc/cli/conf.d/10-assertions.ini
  php-dev/etc/cli/conf.d/20-pcov.ini
  php-dev/etc/fpm/conf.d/20-xdebug.ini
  php-dev/master/Dockerfile
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/etc/cli/conf.d/20-csv.ini
  php/etc/fpm/conf.d/20-csv.ini
  php/help.71
  php/help.72
  php/help.73
  php/help.74
  php/master/Dockerfile
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

update minor PHP versions
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

enable YAR extension
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/etc/cli/conf.d/20-yar.ini
  php/etc/fpm/conf.d/20-yar.ini
  php/etc/mods-available/yar.ini
  php/master/Dockerfile
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

optimize all binaries for size
  haproxy/Dockerfile
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/master/Dockerfile
  postgres/Dockerfile.src
Due: haproxy, postgres, php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

update haproxy
  haproxy/Dockerfile
Due: haproxy

created swipl image
  .gitlab-ci.yml
  swipl/Dockerfile
Due: none

reportedly this has been fixed upstream
  php/master/Dockerfile
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

resurrected PHP images for 5.6, 7.0 and 7.1, but won't be putting them into CI/CD
  php-dev/5.6/Dockerfile
  php-dev/7.0/Dockerfile
  php-dev/7.1/Dockerfile
  php/5.6/Dockerfile
  php/7.0/Dockerfile
  php/7.1/Dockerfile
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

prestissimo will no longer be necessary in composer 2.0, due soon
  php-dev/5.6/Dockerfile
  php-dev/7.0/Dockerfile
  php-dev/7.1/Dockerfile
  php-dev/7.2/Dockerfile
  php-dev/7.3/Dockerfile
  php-dev/7.4/Dockerfile
  php-dev/master/Dockerfile
Due: none

update PHP versions
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

reduce 1maa/postgres:12-src size by 60% with this one weird trick
  postgres/Dockerfile.src
Due: postgres

update roadrunner and allow php-dev:master to fail
  .gitlab-ci.yml
  roadrunner/Dockerfile
Due: roadrunner

update swipl
  swipl/Dockerfile
Due: none

added 1maa/jekyll:latest image
  .gitlab-ci.yml
  jekyll/Dockerfile
Due: none

25% smaller Jekyll image
  jekyll/Dockerfile
  jekyll/README.md
Due: none

update Postgres README.md
  postgres/README.md
Due: postgres

more like 6.4% hurrr
  jekyll/Dockerfile
  jekyll/README.md
Due: none

update roadrunner and swipl
  roadrunner/Dockerfile
  swipl/Dockerfile
Due: roadrunner

update swipl and erlang
  .gitlab-ci.yml
  erlang/Dockerfile
  swipl/Dockerfile
Due: erlang

update PHP images
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

update postgres build from source to 12.3
  postgres/Dockerfile.src
Due: postgres

update sqlite
  sqlite/Dockerfile
Due: sqlite
