Repository 1ma/dockertronics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: erlang, haproxy, mariadb, mysql-5.7, mysql-8.0, postgres, sleepy, php-7.1, php-7.2, php-7.3, php-7.4, php-master, sakila, selfsig, sftp, sqlite, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev, roadrunner

Path conditions:
  erlang: any of: erlang/**/*
  haproxy: any of: haproxy/**/*
  mariadb: any of: mariadb/**/*
  mysql-5.7: any of: mysql/**/*
  mysql-8.0: any of: mysql/**/*
  postgres: any of: postgres/**/*
  sleepy: any of: sleepy/**/*
  php-7.1: any of: php/**/*
  php-7.2: any of: php/**/*
  php-7.3: any of: php/**/*
  php-7.4: any of: php/**/*
  php-master: any of: php/**/*
  sakila: any of: mysql/**/*
  selfsig: any of: selfsig/**/*
  sftp: any of: sftp/**/*
  sqlite: any of: sqlite/**/*
  php-7.1-dev: any of: php/**/*
  php-7.2-dev: any of: php/**/*
  php-7.3-dev: any of: php/**/*
  php-7.4-dev: any of: php/**/*
  php-master-dev: any of: php/**/*
  roadrunner: any of: roadrunner/**/*

update eseculito
  sqlite/Dockerfile
Due: sqlite

shotgun upgrade to Alpine 3.12
  .gitlab-ci.yml
  alpine/Dockerfile
  alpine/https-repositories
  beanstalkd/Dockerfile
  haproxy/Dockerfile
  jekyll/Dockerfile
  lua/Dockerfile
  mariadb/Dockerfile.src
  php/7.0/Dockerfile
  php/7.1/Dockerfile
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/master/Dockerfile
  postgres/Dockerfile.src
  selfsig/Dockerfile
  sftp/Dockerfile
  sqlite/Dockerfile
  swipl/Dockerfile
Due: haproxy, mariadb, postgres, php-7.1, php-7.2, php-7.3, php-7.4, php-master, selfsig, sftp, sqlite, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

force pkgconf presence
  beanstalkd/Dockerfile
Due: none

the mongodb extension builds fine with no errors, but it cannot be loaded at runtime. let's try again a few weeks down the line
  php/7.0/Dockerfile
  php/7.1/Dockerfile
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/master/Dockerfile
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

keep header files for... a thing :D
  postgres/Dockerfile.src
Due: postgres

sqlite and swipl updates
  sqlite/Dockerfile
  swipl/Dockerfile
Due: sqlite

Upgraded PHP images to Alpine 3.12
  php/7.0/Dockerfile
  php/7.1/Dockerfile
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/master/Dockerfile
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

several updates
  haproxy/Dockerfile
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  swipl/Dockerfile
Due: haproxy, php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

start using preleases of Composer. php-cs-fixer has been dropped until it supports composer/semver 3.0+ (clashes with Composer 2.0)
  .gitlab-ci.yml
  php-dev/5.6/Dockerfile
  php-dev/7.0/Dockerfile
  php-dev/7.1/Dockerfile
  php-dev/7.2/Dockerfile
  php-dev/7.3/Dockerfile
  php-dev/7.4/Dockerfile
  php-dev/master/Dockerfile
Due: none

fix latest haproxy image
  haproxy/Dockerfile
Due: haproxy

fix postgres image
  postgres/Dockerfile
Due: postgres

this doesn't look imminent
  php/7.2/Dockerfile
  xhgui/Dockerfile
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

update sqlite
  sqlite/Dockerfile
Due: sqlite

added 1maa/lua:5.4 and renamed 1maa/lua:5.3.5 to 1maa/lua:5.3
  .gitlab-ci.yml
  lua/5.3/Dockerfile
  lua/5.4/Dockerfile
Due: none

update roadrunner
  roadrunner/Dockerfile
Due: roadrunner

add tree to jekyll image
  jekyll/Dockerfile
Due: none

update all PHP 7.x and introduce 8.0 alpha images
  .gitlab-ci.yml
  php-dev/8.0/Dockerfile
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/8.0/Dockerfile
  php/master/Dockerfile
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

removed all third party extensions from the master branch build of PHP, as they tend to break.
  php/master/Dockerfile
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

fixed 'empty separation lines' warnings from Docker
  php/5.6/Dockerfile
  php/7.0/Dockerfile
  php/7.1/Dockerfile
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
  php/master/Dockerfile
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

add git to Jekyll image
  jekyll/Dockerfile
Due: none

fix segmentation fault on 1maa/haproxy:2.1
  haproxy/Dockerfile
Due: haproxy

bump haproxy to 2.2 series
  .gitlab-ci.yml
  haproxy/Dockerfile
Due: haproxy

PHP 8.0 alpha3
  php/5.6/Dockerfile
  php/7.0/Dockerfile
  php/7.1/Dockerfile
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

added deployer/deployer to php dev tools and fixed a pipeline error that manifests when only making changes under the php-dev/ directory
  .gitlab-ci.yml
  php-dev/5.6/Dockerfile
  php-dev/7.0/Dockerfile
  php-dev/7.1/Dockerfile
  php-dev/7.2/Dockerfile
  php-dev/7.3/Dockerfile
  php-dev/7.4/Dockerfile
  php-dev/8.0/Dockerfile
  php-dev/master/Dockerfile
Due: none

update haproxy 2.2
  haproxy/Dockerfile
Due: haproxy

main Alpine CDN already supports HTTPS
  alpine/https-repositories
Due: none

swipl update
  swipl/Dockerfile
Due: none

bump PHP versions
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

don't use edge apk
  alpine/Dockerfile
Due: none

update haproxy
  haproxy/Dockerfile
Due: haproxy

update swipl
  swipl/Dockerfile
Due: none

update sqlite and postgres
  postgres/Dockerfile.src
  sqlite/Dockerfile
Due: postgres, sqlite

update PHP 8.0
  php/8.0/Dockerfile
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

php: update geoip extension
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

bump PHP versions
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

swipl and roadrunner updates
  .gitlab-ci.yml
  roadrunner/Dockerfile
  swipl/Dockerfile
Due: roadrunner

updates
  haproxy/Dockerfile
  swipl/Dockerfile
Due: haproxy

update PHP 8
  php/8.0/Dockerfile
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

update postgres to 13.0
  .gitlab-ci.yml
  postgres/Dockerfile
  postgres/Dockerfile.src
Due: postgres

misc updates
  lua/5.3/Dockerfile
  roadrunner/README.md
  swipl/Dockerfile
Due: roadrunner
