Repository 1ma/dockertronics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: erlang, haproxy, mariadb, mysql-5.7, mysql-8.0, postgres, sleepy, php-7.1, php-7.2, php-7.3, php-7.4, php-master, sakila, selfsig, sftp, sqlite, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev, roadrunner

erlang:
  stage: tier1
  image: docker:stable
  variables:
    CONTEXT: erlang
    IMAGE: 1maa/erlang:22-alpine
  script:
  - docker build --network host -t $IMAGE -f $CONTEXT/Dockerfile $CONTEXT
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASS
  - docker push $IMAGE

haproxy:
  stage: tier1
  image: docker:stable
  variables:
    CONTEXT: haproxy
    IMAGE: 1maa/haproxy:2.0
  script:
  - docker build --network host -t $IMAGE -f $CONTEXT/Dockerfile $CONTEXT
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASS
  - docker push $IMAGE

mariadb:
  stage: tier1
  image: docker:stable
  variables:
    CONTEXT: mariadb
    IMAGE: 1maa/mariadb:10.4
  script:
  - docker build --network host -t $IMAGE -f $CONTEXT/Dockerfile $CONTEXT
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASS
  - docker push $IMAGE

mysql-5.7:
  stage: tier1
  image: docker:stable
  variables:
    CONTEXT: mysql
    IMAGE: 1maa/mysql:5.7
  script:
  - docker build --network host -t $IMAGE -f $CONTEXT/Dockerfile.57 $CONTEXT
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASS
  - docker push $IMAGE

mysql-8.0:
  stage: tier1
  image: docker:stable
  variables:
    CONTEXT: mysql
    IMAGE: 1maa/mysql:8.0
  script:
  - docker build --network host -t $IMAGE -f $CONTEXT/Dockerfile.80 $CONTEXT
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASS
  - docker push $IMAGE

postgres:
  stage: tier1
  image: docker:stable
  allow_failure: true
  variables:
    CONTEXT: postgres
    IMAGE: 1maa/postgres:12-alpine
  script:
  - docker build --network host -t $IMAGE -f $CONTEXT/Dockerfile $CONTEXT
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASS
  - docker push $IMAGE

sleepy:
  stage: tier1
  image: docker:stable
  variables:
    CONTEXT: sleepy
    IMAGE: 1maa/sleepy:latest
  script:
  - docker build --network host -t $IMAGE -f $CONTEXT/Dockerfile $CONTEXT
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASS
  - docker push $IMAGE

php-7.1:
  stage: tier2
  image: docker:stable
  needs:
  - alpine
  variables:
    CONTEXT: php
    IMAGE: 1maa/php:7.1
  script:
  - docker build --network host -t $IMAGE -f $CONTEXT/Dockerfile.71 $CONTEXT
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASS
  - docker push $IMAGE

php-7.2:
  stage: tier2
  image: docker:stable
  needs:
  - alpine
  variables:
    CONTEXT: php
    IMAGE: 1maa/php:7.2
  script:
  - docker build --network host -t $IMAGE -f $CONTEXT/Dockerfile.72 $CONTEXT
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASS
  - docker push $IMAGE

php-7.3:
  stage: tier2
  image: docker:stable
  needs:
  - alpine
  variables:
    CONTEXT: php
    IMAGE: 1maa/php:7.3
  script:
  - docker build --network host -t $IMAGE -f $CONTEXT/Dockerfile.73 $CONTEXT
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASS
  - docker push $IMAGE

bump haproxy to 2.1.0
  .gitlab-ci.yml
  haproxy/Dockerfile
Due: haproxy

PHP 7.4 released
  php/Dockerfile.74
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

enable FFI extension in PHP 7.4
  php/Dockerfile.74
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

this shit was fixed a long time ago
  php/Dockerfile.74
  php/Dockerfile.master
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

studying a MariaDB build from source
  mariadb/CMAKE_HELP.txt
  mariadb/Dockerfile.src
Due: mariadb

not anymoar
  php/Dockerfile.74
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

new xhgui image with just the code
  .gitlab-ci.yml
  xhgui/Dockerfile.code
Due: none

haproxy, php and roadrunner updates
  haproxy/Dockerfile
  php/Dockerfile.72
  php/Dockerfile.73
  php/Dockerfile.74
  roadrunner/Dockerfile
Due: haproxy, php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev, roadrunner

upgrade to Alpine 3.11
  .gitlab-ci.yml
  alpine/Dockerfile
  alpine/https-repositories
Due: none

not such a good idea after all
  .gitlab-ci.yml
  xhgui/Dockerfile.code
Due: none

shotgun upgrade to Alpine 3.11
  beanstalkd/Dockerfile
  haproxy/Dockerfile
  lua/Dockerfile
  mariadb/Dockerfile.src
  php/Dockerfile.71
  php/Dockerfile.72
  php/Dockerfile.73
  php/Dockerfile.74
  php/Dockerfile.master
  roadrunner/Dockerfile
  selfsig/Dockerfile
  sftp/Dockerfile
  sqlite/Dockerfile
Due: haproxy, mariadb, php-7.1, php-7.2, php-7.3, php-7.4, php-master, selfsig, sftp, sqlite, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev, roadrunner

fix sqlite
  sqlite/Dockerfile
Due: sqlite

temporarily disable check task due to breaking change in GCC 9.2
  beanstalkd/Dockerfile
Due: none

update minor PHP versions
  php/Dockerfile.72
  php/Dockerfile.73
  php/Dockerfile.74
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

mysql 8.0: force classic authentication method
  mysql/mysql.conf.d/auth.cnf
Due: mysql-5.7, mysql-8.0, sakila

update haproxy to 2.1.3
  haproxy/Dockerfile
Due: haproxy

optimize beanstalkd for size
  beanstalkd/Dockerfile
Due: none

updated minor PHP versions
  php/Dockerfile.72
  php/Dockerfile.73
  php/Dockerfile.74
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

update roadrunner
  .gitlab-ci.yml
  roadrunner/Dockerfile
Due: roadrunner

pin docker:dind version to 19.03.5
  .gitlab-ci.yml
Due: none

With a bit of luck this will fix the health check errors seen before each job
  .gitlab-ci.yml
Due: none

fixed postgres build
  .gitlab-ci.yml
  postgres/Dockerfile
Due: postgres

postgres: update pgTAP and PostGIS extensions
  postgres/Dockerfile
Due: postgres

php: fix for latest
  php/Dockerfile.master
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

pin docker client version, too
  .gitlab-ci.yml
Due: none

overlay2 is supposed to be the default now
  .gitlab-ci.yml
Due: none

php: enable ffi on :latest and catch_workers_output on all images
  .gitlab-ci.yml
  php/Dockerfile.71
  php/Dockerfile.72
  php/Dockerfile.73
  php/Dockerfile.74
  php/Dockerfile.master
  php/Dockerfile.master-dev
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

fix lua image, make it smaller and add it to CI/CD
  .gitlab-ci.yml
  lua/Dockerfile
Due: none

update sqlite and optimize it for size, too
  sqlite/Dockerfile
Due: sqlite

build sakila as soon as 1maa/mysql:8.0 is ready
  .gitlab-ci.yml
Due: none

bump roadrunner to 7.4
  .gitlab-ci.yml
  roadrunner/Dockerfile
Due: roadrunner

switch to a manual build for roadrunner
  roadrunner/Dockerfile
Due: roadrunner

check before and after binary types for compressed binaries that are supposed to be static
  beanstalkd/Dockerfile
  lua/Dockerfile
  roadrunner/Dockerfile
  sleepy/Dockerfile
  sqlite/Dockerfile
Due: sleepy, sqlite, roadrunner

tempus fugit
  LICENSE
Due: none

roadrunner: nitpicking
  roadrunner/Dockerfile
Due: roadrunner

postgres: use packed config file
  postgres/Dockerfile
  postgres/postgresql.conf
Due: postgres

php-dev: add hirak/prestissimo as global plugin
  php/Dockerfile.71-dev
  php/Dockerfile.72-dev
  php/Dockerfile.73-dev
  php/Dockerfile.74-dev
  php/Dockerfile.master-dev
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

php latest: shut down uv and xdebug. mspack compiles but still fails at runtime
  php/Dockerfile.master
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

PHP 7.1 reached EOL on Dec 2019. No more releases are expected it's been put down
  .gitlab-ci.yml
  php/Dockerfile.71
  php/Dockerfile.71-dev
  php/Dockerfile.72
  php/Dockerfile.73
  php/Dockerfile.74
  php/Dockerfile.master
  php/etc/cli/conf.d/libsodium.ini
  php/etc/fpm/conf.d/libsodium.ini
  php/etc/mods-available/libsodium.ini
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

sadly the simdjson binding also looks quite dead
  php/Dockerfile.72
  php/Dockerfile.73
  php/Dockerfile.74
  php/Dockerfile.master
Due: php-7.1, php-7.2, php-7.3, php-7.4, php-master, php-7.1-dev, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-master-dev

Path conditions:
  erlang: any of: erlang/**/*
  haproxy: any of: haproxy/**/*
  mariadb: any of: mariadb/**/*
  mysql-5.7: any of: mysql/**/*
  mysql-8.0: any of: mysql/**/*
  postgres: any of: postgres/**/*
  sleepy: any of: sleepy/**/*
  php-7.1: any of: php/**/*
  php-7.2: any of: php/**/*
  php-7.3: any of: php/**/*
  php-7.4: any of: php/**/*
  php-master: any of: php/**/*
  sakila: any of: mysql/**/*
  selfsig: any of: selfsig/**/*
  sftp: any of: sftp/**/*
  sqlite: any of: sqlite/**/*
  php-7.1-dev: any of: php/**/*
  php-7.2-dev: any of: php/**/*
  php-7.3-dev: any of: php/**/*
  php-7.4-dev: any of: php/**/*
  php-master-dev: any of: php/**/*
  roadrunner: any of: roadrunner/**/*
