Repository 1ma/dockertronics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: erlang, haproxy, jekyll, mariadb, mysql-5.7, mysql-8.0, postgres, postgres-src, sleepy, swipl, lua-5.3, lua-5.4, php-7.2, php-7.3, php-7.4, php-8.0, php-master, sakila, selfsig, sftp, sqlite, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev, roadrunner

Path conditions:
  erlang: any of: erlang/**/*
  haproxy: any of: haproxy/**/*
  jekyll: any of: jekyll/**/*
  mariadb: any of: mariadb/**/*
  mysql-5.7: any of: mysql/**/*
  mysql-8.0: any of: mysql/**/*
  postgres: any of: postgres/**/*
  postgres-src: any of: postgres/**/*
  sleepy: any of: sleepy/**/*
  swipl: any of: swipl/**/*
  lua-5.3: any of: lua/**/*
  lua-5.4: any of: lua/**/*
  php-7.2: any of: php/**/*
  php-7.3: any of: php/**/*
  php-7.4: any of: php/**/*, roadrunner/**/*
  php-8.0: any of: php/**/*, roadrunner/**/*
  php-master: any of: php/**/*
  sakila: any of: mysql/**/*
  selfsig: any of: selfsig/**/*
  sftp: any of: sftp/**/*
  sqlite: any of: sqlite/**/*
  php-7.2-dev: any of: php/**/*, php-dev/**/*
  php-7.3-dev: any of: php/**/*, php-dev/**/*
  php-7.4-dev: any of: php/**/*, php-dev/**/*
  php-8.0-dev: any of: php/**/*, php-dev/**/*
  php-master-dev: any of: php/**/*, php-dev/**/*
  roadrunner: any of: roadrunner/**/*

bump PHP 8.1
  php/8.1/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

shotgun upgrade to Alpine Linux 3.14
  .gitlab-ci.yml
  alpine/Dockerfile
  alpine/https-repositories
  beanstalkd/Dockerfile
  gnat/10/Dockerfile
  gnat/9/Dockerfile
  haproxy/Dockerfile
  jekyll/Dockerfile
  lua/5.3/Dockerfile
  lua/5.4/Dockerfile
  mariadb/Dockerfile.src
  php/7.0/Dockerfile
  php/7.1/Dockerfile
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
  php/8.1/Dockerfile
  php/master/Dockerfile
  postgres/Dockerfile.src
  selfsig/Dockerfile
  sftp/Dockerfile
  sqlite/Dockerfile
  swipl/Dockerfile
Due: haproxy, jekyll, mariadb, postgres, postgres-src, swipl, lua-5.3, lua-5.4, php-7.2, php-7.3, php-7.4, php-8.0, php-master, selfsig, sftp, sqlite, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

fix (and update) PostGIS compilation on Alpine 3.14
  postgres/Dockerfile
Due: postgres, postgres-src

fix 1maa/self-sig build by ensuring all base packages are upgraded on the base 1maa/alpine image
  alpine/Dockerfile
Due: none

bump minor PHP versions
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

bump php 8.1
  php/8.1/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

1maa/php-dev: introduce uma/composer-psysh tool
  php-dev/5.6/Dockerfile
  php-dev/7.0/Dockerfile
  php-dev/7.1/Dockerfile
  php-dev/7.2/Dockerfile
  php-dev/7.3/Dockerfile
  php-dev/7.4/Dockerfile
  php-dev/8.0/Dockerfile
  php-dev/8.1/Dockerfile
  php-dev/master/Dockerfile
Due: php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

bump PHP 8.1 to beta1
  php/8.1/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

round of misc updates
  haproxy/Dockerfile
  roadrunner/Dockerfile
  swipl/Dockerfile
Due: haproxy, swipl, php-7.4, php-8.0, roadrunner

update PHP 7.4 and 8.0
  php-dev/5.6/Dockerfile
  php-dev/7.0/Dockerfile
  php-dev/7.1/Dockerfile
  php-dev/7.2/Dockerfile
  php-dev/7.3/Dockerfile
  php-dev/7.4/Dockerfile
  php-dev/8.0/Dockerfile
  php-dev/8.1/Dockerfile
  php-dev/master/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

enable buildkit
  .gitlab-ci.yml
Due: none

php 8.1 and swipl updates
  php/8.1/Dockerfile
  swipl/Dockerfile
Due: swipl, php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

A VEURE QUÈ PASSA
  .gitlab-ci.yml
Due: none

Write cache metadata to all images so that they can be used as cache sources directly from the registry
  .gitlab-ci.yml
Due: none

Enable registry cache and disable conditional build feature
  .gitlab-ci.yml
Due: none

phpunit is back I guess
  php-dev/5.6/Dockerfile
  php-dev/7.0/Dockerfile
  php-dev/7.1/Dockerfile
  php-dev/7.2/Dockerfile
  php-dev/7.3/Dockerfile
  php-dev/7.4/Dockerfile
  php-dev/8.0/Dockerfile
  php-dev/8.1/Dockerfile
  php-dev/master/Dockerfile
Due: php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

1maa/postgres:13-alpine: bump PostGIS and redo Dockerfile to improve BuildKit cacheability
  postgres/Dockerfile
Due: postgres, postgres-src

build a new commit of bleeding-edge gcc
  gnat/gcc-bleeding-edge/Dockerfile
Due: none

save work-in-progress FSF SPARK builder
  gnat/spark/Dockerfile
  gnat/spark/gnatvsn.adb
Due: none

1maa/php-dev: don't use the remote image cache so that each run of the pipeline always get the latest Composer packages
  .gitlab-ci.yml
Due: none

add locally built shared libraries from GCC into the shared library resolution path using ldconfig
  gnat/gcc-bleeding-edge/Dockerfile
Due: none

update Alire
  gnat/10/Dockerfile
  gnat/9/Dockerfile
Due: none

This was only necessary before Alpine 3.14. Now only gprbuild remains on Alpine edge. Also revert Alire to 1.0.1 temporarily.
  gnat/10/Dockerfile
  gnat/9/Dockerfile
Due: none

misc updates
  haproxy/Dockerfile
  php/8.1/Dockerfile
  postgres/Dockerfile.src
Due: haproxy, postgres, postgres-src, php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

Enable back super old php images. With the new buildkit caching the cost in build time is negligible.
  .gitlab-ci.yml
Due: none

php: slightly simpler mongodb-icu-fuckfest hack to trick mongodb extension into building without linkage to libicu.so
  php/7.0/Dockerfile
  php/7.1/Dockerfile
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
  php/8.1/Dockerfile
  php/master/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

remove unholy dependency of 1maa/xhgui to 1maa/php-dev that breaks remote caching every single time the pipeline runs
  xhgui/Dockerfile
  xhgui/composer-pubkey.asc
Due: none

bump bootstrapping composer
  php-dev/5.6/Dockerfile
  php-dev/7.0/Dockerfile
  php-dev/7.1/Dockerfile
  php-dev/7.2/Dockerfile
  php-dev/7.3/Dockerfile
  php-dev/7.4/Dockerfile
  php-dev/8.0/Dockerfile
  php-dev/8.1/Dockerfile
  php-dev/master/Dockerfile
  php/5.6/Dockerfile
  php/5.6/pubkeys.asc
  php/7.0/Dockerfile
  php/7.0/pubkeys.asc
  php/7.1/Dockerfile
  php/7.1/pubkeys.asc
  php/7.2/Dockerfile
  php/7.2/pubkeys.asc
  php/7.3/Dockerfile
  php/7.3/pubkeys.asc
  php/7.4/Dockerfile
  php/7.4/pubkeys.asc
  php/8.0/Dockerfile
  php/8.0/pubkeys.asc
  php/8.1/Dockerfile
  php/8.1/pubkeys.asc
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

bump PHP versions
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

spark: use real-er version
  gnat/spark/gnatvsn.adb
Due: none

fix CGO_ENABLED env var
  sleepy/Dockerfile
  sleepy/README.md
Due: sleepy

whack this lame shit
  php/5.6/Dockerfile
  php/7.0/Dockerfile
  php/7.1/Dockerfile
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
  php/etc/cli/conf.d/20-grpc.ini
  php/etc/cli/conf.d/20-protobuf.ini
  php/etc/fpm/conf.d/20-grpc.ini
  php/etc/fpm/conf.d/20-protobuf.ini
  php/etc/mods-available/grpc.ini
  php/etc/mods-available/protobuf.ini
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

stop building PHP master
  .gitlab-ci.yml
  php-dev/master/Dockerfile
  php/master/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

bump PHP and PostgreSQL versions
  .gitlab-ci.yml
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
  php/8.1/Dockerfile
  postgres/Dockerfile
  postgres/Dockerfile.src
  postgres/README.md
Due: postgres, postgres-src, php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

don't cache 1maa/jekyll build
  .gitlab-ci.yml
Due: none

misc updates
  .gitlab-ci.yml
  haproxy/Dockerfile
  mariadb/Dockerfile
  mariadb/README.md
  roadrunner/Dockerfile
  swipl/Dockerfile
Due: haproxy, mariadb, swipl, php-7.4, php-8.0, roadrunner

scrap Jekyll image
  .gitlab-ci.yml
  jekyll/Dockerfile
  jekyll/README.md
Due: jekyll

Run php -v after building each 1maa/php image to check if any extension was silently ignored.
  .gitlab-ci.yml
Due: none

latest ext-csv extensions are PHP 8.0 only, so I need to anchor the version on PHP 7.3 and 7.4 or pecl ignores the installation request
  php/7.3/Dockerfile
  php/7.4/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev
