Repository 1ma/dockertronics: changes, and which GitLab CI jobs are due for each by the changed paths.
All: erlang, haproxy, jekyll, mariadb, mysql-5.7, mysql-8.0, postgres, postgres-src, sleepy, swipl, lua-5.3, lua-5.4, php-7.2, php-7.3, php-7.4, php-8.0, php-master, sakila, selfsig, sftp, sqlite, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev, roadrunner

Path conditions:
  erlang: any of: erlang/**/*
  haproxy: any of: haproxy/**/*
  jekyll: any of: jekyll/**/*
  mariadb: any of: mariadb/**/*
  mysql-5.7: any of: mysql/**/*
  mysql-8.0: any of: mysql/**/*
  postgres: any of: postgres/**/*
  postgres-src: any of: postgres/**/*
  sleepy: any of: sleepy/**/*
  swipl: any of: swipl/**/*
  lua-5.3: any of: lua/**/*
  lua-5.4: any of: lua/**/*
  php-7.2: any of: php/**/*
  php-7.3: any of: php/**/*
  php-7.4: any of: php/**/*, roadrunner/**/*
  php-8.0: any of: php/**/*, roadrunner/**/*
  php-master: any of: php/**/*
  sakila: any of: mysql/**/*
  selfsig: any of: selfsig/**/*
  sftp: any of: sftp/**/*
  sqlite: any of: sqlite/**/*
  php-7.2-dev: any of: php/**/*, php-dev/**/*
  php-7.3-dev: any of: php/**/*, php-dev/**/*
  php-7.4-dev: any of: php/**/*, php-dev/**/*
  php-8.0-dev: any of: php/**/*, php-dev/**/*
  php-master-dev: any of: php/**/*, php-dev/**/*
  roadrunner: any of: roadrunner/**/*

gnat: update alire
  gnat/10/Dockerfile
  gnat/9/Dockerfile
Due: none

update last alpine base images to 3.13
  haproxy/Dockerfile
  swipl/Dockerfile
Due: haproxy, swipl

update 1maa/postgres:13-src
  postgres/Dockerfile.src
Due: postgres, postgres-src

fix build of 1maa/sleepy for go 1.16
  sleepy/Dockerfile
Due: sleepy

PHP 8: enable gnupg, memcached and protobuf
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

php images: add grpc extension and trim all shared libs
  php/5.6/Dockerfile
  php/7.0/Dockerfile
  php/7.1/Dockerfile
  php/7.2/Dockerfile
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
  php/etc/cli/conf.d/20-grpc.ini
  php/etc/fpm/conf.d/20-grpc.ini
  php/etc/mods-available/grpc.ini
  php/master/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

gnat: alr 1.0.0 released
  gnat/10/Dockerfile
  gnat/9/Dockerfile
Due: none

misc updates
  erlang/Dockerfile
  erlang/README.md
  postgres/Dockerfile
  postgres/README.md
  roadrunner/Dockerfile
  swipl/Dockerfile
Due: erlang, postgres, postgres-src, swipl, php-7.4, php-8.0, roadrunner

php: excimer extension has been added to pecl
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

ssh2 1.3.1 compatible with PHP 8
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

update HAproxy
  haproxy/Dockerfile
Due: haproxy

update minor PHP versions
  php/7.4/Dockerfile
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

several updates
  haproxy/Dockerfile
  roadrunner/.rr.yaml
  roadrunner/Dockerfile
  roadrunner/README.md
  sleepy/Dockerfile
  sqlite/Dockerfile
  swipl/Dockerfile
Due: haproxy, sleepy, swipl, php-7.4, php-8.0, sqlite, roadrunner

update PHP 8 extensions
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

1maa/fsf-gnat: shave a teeny bit of weight
  gnat/10/Dockerfile
  gnat/9/Dockerfile
Due: none

gnupg 1.5.0 compatible with PHP 8 released
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

php-dev: verify PGP signature of bootstrapping composer.phar
  php-dev/5.6/Dockerfile
  php-dev/7.0/Dockerfile
  php-dev/7.1/Dockerfile
  php-dev/7.2/Dockerfile
  php-dev/7.3/Dockerfile
  php-dev/7.4/Dockerfile
  php-dev/8.0/Dockerfile
  php-dev/composer-releases-pubkey.asc
  php-dev/master/Dockerfile
Due: php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

php bleeding edge does not have extensions, hence it doesn't have gpgme nor gnupg and has to be installed manually on the first stage
  php-dev/master/Dockerfile
Due: php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

verify signatures of PHP source tarballs
  php-dev/5.6/Dockerfile
  php-dev/7.0/Dockerfile
  php-dev/7.1/Dockerfile
  php-dev/7.2/Dockerfile
  php-dev/7.3/Dockerfile
  php-dev/7.4/Dockerfile
  php-dev/8.0/Dockerfile
  php-dev/composer-pubkey.asc
  php-dev/master/Dockerfile
  php/5.6/Dockerfile
  php/5.6/pubkey.asc
  php/7.0/Dockerfile
  php/7.0/pubkey.asc
  php/7.1/Dockerfile
  php/7.1/pubkey.asc
  php/7.2/Dockerfile
  php/7.2/pubkey.asc
  php/7.3/Dockerfile
  php/7.3/pubkey.asc
  php/7.4/Dockerfile
  php/7.4/pubkey.asc
  php/8.0/Dockerfile
  php/8.0/pubkey.asc
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

php: the latest release of the grpc extension compiles with GCC 10.2 so Alpine 3.13 is a go.
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

bump minor PHP versions
  php/7.3/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

migrate to Alpine Linux in FSF GNAT 10 image
  gnat/10/Dockerfile
Due: none

php: collected public keys of deputy release managers from 7.3 onwards
  php/7.3/pubkey.asc
  php/7.4/pubkey.asc
  php/8.0/pubkey.asc
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

Composer may need git to download some dependencies.
  php-dev/5.6/Dockerfile
  php-dev/7.0/Dockerfile
  php-dev/7.1/Dockerfile
  php-dev/7.2/Dockerfile
  php-dev/7.3/Dockerfile
  php-dev/7.4/Dockerfile
  php-dev/8.0/Dockerfile
  php-dev/master/Dockerfile
Due: php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

About a year ago I removed php-cs-fixer because one of its dependencies clashed with beta builds of Composer 2.0, then proceeded to forget about it.
  php-dev/5.6/Dockerfile
  php-dev/7.0/Dockerfile
  php-dev/7.1/Dockerfile
  php-dev/7.2/Dockerfile
  php-dev/7.3/Dockerfile
  php-dev/7.4/Dockerfile
  php-dev/8.0/Dockerfile
  php-dev/master/Dockerfile
Due: php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

misc updates
  haproxy/Dockerfile
  lua/5.4/Dockerfile
  php/7.4/Dockerfile
  php/8.0/Dockerfile
  roadrunner/Dockerfile
  sqlite/Dockerfile
  swipl/Dockerfile
Due: haproxy, swipl, lua-5.3, lua-5.4, php-7.2, php-7.3, php-7.4, php-8.0, php-master, sqlite, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev, roadrunner

update postgres and roadrunner images
  postgres/Dockerfile.src
  roadrunner/Dockerfile
Due: postgres, postgres-src, php-7.4, php-8.0, roadrunner

Created a bleeding edge gcc image to be used in the efforts to compile github.com/AdaCore/Spark2014 from source.
  gnat/gcc-bleeding-edge/Dockerfile
Due: none

push ocaml image for building Spark2014
  gnat/ocaml/Dockerfile
Due: none

this duplicate env var is a bit ludicrous
  gnat/gcc-bleeding-edge/Dockerfile
Due: none

bump minor PHP versions
  LICENSE
  php/7.4/Dockerfile
  php/8.0/Dockerfile
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

misc updates
  .gitlab-ci.yml
  haproxy/Dockerfile
  swipl/Dockerfile
Due: haproxy, swipl

instate 1maa/php:8.1 image, for now with no extensions
  .gitlab-ci.yml
  php-dev/5.6/Dockerfile
  php-dev/7.0/Dockerfile
  php-dev/7.1/Dockerfile
  php-dev/7.2/Dockerfile
  php-dev/7.3/Dockerfile
  php-dev/8.0/Dockerfile
  php-dev/8.1/Dockerfile
  php-dev/master/Dockerfile
  php/8.1/Dockerfile
  php/8.1/pubkey.asc
Due: php-7.2, php-7.3, php-7.4, php-8.0, php-master, php-7.2-dev, php-7.3-dev, php-7.4-dev, php-8.0-dev, php-master-dev

misc updates
  gnat/10/Dockerfile
  gnat/9/Dockerfile
  haproxy/Dockerfile
  roadrunner/Dockerfile
  sqlite/Dockerfile
  swipl/Dockerfile
Due: haproxy, swipl, php-7.4, php-8.0, sqlite, roadrunner
